*.pyc
*.dat
*.swp
*.e*
*.o*
*.po*
*.pe*
generate_plots/*.pyc
generate_data/*.pyc
../src/c2raytools/*.pyc


generate_plots/plot_wpls_loweff/
generate_plots/plots_kylsim/
generate_plots/plots_wpls/
generate_plots/plots_wpls2/
generate_plots/plots_wpls_higheff/
generate_plots/plots_wpls_higheff_5times/
generate_plots/plots_wquasars/
generate_plots/plots_wquasars_wpls/
generate_plots/plots_wstars/
generate_plots/plots_wstars_equalphotons/
comparisons/
generate_comparisons/
generate_data/qscript
generate_plots/compare_wstars_wpls/
generate_plots/fig.png
generate_plots/fig2.png
generate_plots/qscript2
../src/c2raytools/__init__.pyc
../src/c2raytools/angular_coordinates.pyc
../src/c2raytools/beam_convolve.pyc
../src/c2raytools/const.pyc
../src/c2raytools/conv.pyc
../src/c2raytools/cosmology.pyc
../src/c2raytools/density_file.pyc
../src/c2raytools/deprecated.pyc
../src/c2raytools/gaussian_random_field.pyc
../src/c2raytools/halo_list.pyc
../src/c2raytools/helper_functions.pyc
../src/c2raytools/irate_file.pyc
../src/c2raytools/lightcone.pyc
../src/c2raytools/plotting.pyc
../src/c2raytools/power_legendre.pyc
../src/c2raytools/power_spectrum.pyc
../src/c2raytools/power_spectrum_noise.pyc
../src/c2raytools/pv_mpm.pyc
../src/c2raytools/smoothing.pyc
../src/c2raytools/statistics.pyc
../src/c2raytools/tau.pyc
../src/c2raytools/temper_file.pyc
../src/c2raytools/temperature.pyc
../src/c2raytools/vel_file.pyc
../src/c2raytools/xfrac_file.pyc

